<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Note</title>
     <link rel="stylesheet" href="/style.css">
  <!-- <link rel="stylesheet" href="../static/style.css"> -->
    <script src="https://kit.fontawesome.com/84b2e4f32b.js" crossorigin="anonymous"></script>


</head>
<body class="Vew-Patients">
    <header th:replace="~{fragments/navBar}"></header>

    <section class="Note">

<!--        <div th:action="@{/getPatientName}" th:object="${patient}" method="GET">-->
<!--            <h3 th:text="*{patient.lastName}">Dupont</h3>-->
<!--        </div>-->

        <div th:action="@{/note/findNoteById/{id}(id=${note.id})}" th:object="${note}" method="GET">
            <p th:text="*{noteDate}"></p>
            <p th:text="*{note}" class="Note-text">Lorem ipsum, dolor sit amet consectetur </p>
        </div>



        <a class="Note-cancel" th:href="@{/note/list/{patientId}(patientId=${patient.id})}">Back to list</a>
    </section>


</body>
</html>