<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Patients</title>
     <link rel="stylesheet" href="../style.css">
<!--   <link rel="stylesheet" href="../static/style.css">-->
    <script src="https://kit.fontawesome.com/84b2e4f32b.js" crossorigin="anonymous"></script>


</head>
<body class="Vew-Patients">
    <header th:replace="~{fragments/navBar}"></header>

    <section class="Patients">
        <h2 class="Patients-title">Patient List</h2>
        <div class="Patients-tablo-div">
            <table class="Patients-tablo">
                <thead class="Patients-tablo-entete">
                    <tr>
                        <th class="Patients-tablo-entete-case">Id</th>
                        <th class="Patients-tablo-entete-case">First Name</th>
                        <th class="Patients-tablo-entete-case">Last Name</th>
                        <th class="Patients-tablo-entete-case">Gender</th>
                        <th class="Patients-tablo-entete-case">Birthday</th>
                        <th class="Patients-tablo-entete-case">Address</th>
                        <th class="Patients-tablo-entete-case">Phone</th>
                        <th class="Patients-tablo-entete-case">Email</th>
                    </tr>
                </thead>
                <tbody class="Patients-tablo-corp">
                    <tr th:each="patient : ${patients}">
                        <td class="Patients-tablo-corp-case" th:text="*{id}"></td>
                        <td class="Patients-tablo-corp-case" th:text="*{firstName}"></td>
                        <td class="Patients-tablo-corp-case" th:text="*{lastName}"></td>
                        <td class="Patients-tablo-corp-case" th:text="*{gender}"></td>
                        <td class="Patients-tablo-corp-case" th:text="*{birthday}"></td>
                        <td class="Patients-tablo-corp-case" th:text="*{address}"></td>
                        <td class="Patients-tablo-corp-case" th:text="*{phone}"></td>
                        <td class="Patients-tablo-corp-case" th:text="*{email}"></td>
                        <td class="Patients-tablo-corp-case">
<!--                            <a class="link-edit" th:href="@{/patient/update/{id}(id=${patient.id})}">Edit</a>&nbsp; |&nbsp;-->
<!--                            <a class="link-delete" th:href="@{/patient/delete/{id}(id=${patient.id})}">Delete</a>-->
                            <a class="link-edit">Edit</a>&nbsp; |&nbsp;
                            <a class="link-delete">Delete</a>
                        </td>
                        <td class="Patients-tablo-corp-case">
                            <a class="link-notes" href="patient/notes">Consultation note</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <a class="Patients-tablo-link AddNew" href="/createPatient">Add New</a>
    </section>


</body>
</html>