<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>update Consultation note</title>
    <link rel="stylesheet" href="/style.css">
   <!-- <link rel="stylesheet" href="../static/style.css"> -->
    <script src="https://kit.fontawesome.com/84b2e4f32b.js" crossorigin="anonymous"></script>

</head>
<body class="Vew-Add-patient">
    <header th:replace="~{fragments/navBar}"></header>

    <section class="Add-patient">

        <h2 class="Add-patient-title">Update Consultation note</h2>

        <p class="note-namePatient" th:text="${patient.lastName} + ' ' + ${patient.firstName}"></p>



        <div class="container-AddPatient">
            <div class="screen-AddNote">
                <div class="screen__content-AddPatient">
                    <form action="#" th:action="@{/note/update/{id}/{patientId}(id=${note.id},patientId=${patientId})}" th:object="${note}" method="POST" class="Add-patient-form login-AddPatient">
                        <div class="login__field-AddPatient">
                            <label class="Add-patient-form-label" for="note">Note</label>
                            <!-- <input class="Add-patient-form-input" type="text" th:field="*{note}" id="note" placeholder="Consultation note"> -->
                            <textarea class="Add-note-form-textarea" type="text" th:field="*{note}" id="note" placeholder="Consultation note"></textarea>
                            <p class="text-danger" th:if="${#fields.hasErrors('note')}" th:errors="*{note}"></p>
                        </div>
                        <div class="login__field-AddPatient">
                            <label class="Add-patient-form-label" for="noteDate">Date</label>

                                <input class="Add-patient-form-input" type="text" th:field="*{noteDate}" id="noteDate" placeholder="Date">
                                <p class="text-danger" th:if="${#fields.hasErrors('noteDate')}" th:errors="*{noteDate}"></p>

                        </div>

                        <div >
                            <div class="social-login-AddPatient">
<!--                                <input type="hidden" th:field="*{id}">-->
                                <a th:href="@{/note/list/{patientId}(patientId=${patientId})}" class="Add-note-form-cancel">Cancel</a>
                                <input type="submit" class="button login__submit-AddPatient" value="Update note">
                            </div>
                        </div>

                    </form>
                </div>
                <div class="screen__background">
                    <span class="screen__background__shape screen__background__shape4"></span>
                    <span class="screen__background__shape screen__background__shape3"></span>
                    <span class="screen__background__shape screen__background__shape2"></span>
                    <span class="screen__background__shape screen__background__shape1"></span>
                </div>
            </div>
        </div>

    </section>

</body>