@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
	box-sizing: border-box;
	padding: 0;	
	font-family: Raleway, sans-serif;
}

body{
    margin:0;
}

.BG {
	background: linear-gradient(90deg, #C7C5F4, #776BCC);	
    margin: 0;	
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}



.screen {		
	background: linear-gradient(90deg, #5D54A4, #7C78B8);		
	position: relative;	
	height: 600px;
	width: 360px;	
	box-shadow: 0px 0px 24px #5C5696;
}


.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 520px;
	width: 520px;
	background: #FFF;	
	top: -50px;
	right: 120px;	
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: #6C63AC;	
	top: -172px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(270deg, #5D54A4, #6A679E);
	top: -24px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
	background: #7E7BB9;	
	top: 420px;
	right: 50px;	
	border-radius: 60px;
}



.login {
	width: 320px;
	padding: 30px;
	padding-top: 156px;
}

.login__field {
	padding: 20px 0px;	
	position: relative;	
}



.login__icon {
	position: absolute;
	top: 30px;
	color: #7875B5;
}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #6A679E;
}

.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: #4C489D;
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #6A679E;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #7875B5;
}

.social-login {	
	
    padding:20px 50px;
    text-align: end;
}

.social-login h3 a{
    text-decoration: none;
    color: white;

}

/* ### HEADER ### */

.header {
    margin: 0;
    padding: 20px;

    font-family: Raleway, sans-serif;

}

.header, .nav, .menu {
    display: flex;
    align-items:flex-start;
}

.nav {
    position: relative;
    background-color: #fff;
    padding: 20px;
    transition: 0.5s;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 8px 15px rgba(0,0,0,.2);
    align-items: center;

    
}

.menu {
    margin: 0;
    padding: 0;
    width: 0;
    overflow: hidden;
    transition: 0.5s;
}

.nav input:checked ~ .menu {
    width: 450px;
}

.menu li {
    list-style: none;
    margin: 0 10px;
}

.menu li a {
    text-decoration: none;
    color: #666;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.5s;
}

.menu li a:hover {
    color: #161919;
}

.nav input {
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0;
}

.nav span {
    position: absolute;
    left: 30px;
    width: 30px;
    height: 4px;
    border-radius: 50px;
    background-color: #666;
    pointer-events: none;
    transition: 0.5s;
    text-align: center;
}

.nav input:checked ~ span {
    background-color: #f974a1;
}

.nav span:nth-child(2) {
    transform: translateY(-8px);
}

.nav input:checked ~ span:nth-child(2) {
    transform: translateY(0) rotate(-45deg);
}
.nav span:nth-child(3) {
    transform: translateY(8px);
}

.nav input:checked ~ span:nth-child(3) {
    transform: translateY(0) rotate(45deg);
}


/* ### List Patient ###  */


.Patients{
	display: flex;
	flex-direction: column;
    align-items: center;
}

.Patients-title{
	font-weight: 700;
	font-size: 2.5em;
	padding: 15px 0 40px 0;
}

.Patients-tablo-div{
	overflow-x: auto;
}

table{
	border-spacing: 0;
	border-radius: 1em;
	border: 3px solid;
	border-color: #4C489D;
	overflow: hidden;
}

th, td{
	border: 1px solid;
	border-collapse: collapse;
	border-color: #4C489D;
	padding: 15px 20px;
}

th{
	background-color: #4C489D;
	color: white;
}

.link-edit{
	font-weight: 600;
	text-decoration:  none;

}

.link-delete{
	font-weight: 600;
	color: red;
	text-decoration:  none;

}

.link-notes{
	text-decoration:  none;
	color: #7875B5;
	font-weight: 600;
}

.AddNew{
	text-decoration: none;
	color: #4C489D;
	margin: 2em 0;
	padding: 10px 15px;
	border: 2px solid  #4C489D;
	border-radius: 2.5em;
}

/* ### Add patient Form ###  */

.Add-patient-title{
	/* color: white; */
	padding: 1em;
}

.Add-patient{
	display: flex;
	flex-direction: column;
    align-items: center;

}

.Add-patient-form-input{
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 30px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.container--AddPatient{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 160vh;
}

.screen-AddPatient {		
	background: linear-gradient(90deg, #5D54A4, #7C78B8);		
	position: relative;	
	height: 750px;
	width: 360px;	
	box-shadow: 0px 0px 24px #5c569675;
}

.screen__content-AddPatient {
	z-index: 1;
	position: relative;	
	height: 100%;
}

.login-AddPatient {
	width: auto;
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: center

}

.login__field-AddPatient {
	position: relative;	
	display: flex;
	flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
	

}

.Add-patient-form-label{
	font-weight: 600;
	width: 100px;
}

.Add-patient-form-input{
	width: 200px;
}

.Add-patient-form-input::placeholder{
	color: #39367c;
	font-weight: 600;
}

.Add-patient-form-cancel{
	color: white;
	text-decoration: none;
}

.social-login-AddPatient {	
	
    padding:50px 0;
    text-align: center;
}

.login__submit-AddPatient {
	background: #fff;
	font-size: 14px;
	margin-top: 5px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: #4C489D;
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
}

.login__submit-AddPatient:active,
.login__submit-AddPatient:focus,
.login__submit-AddPatient:hover {
	border-color: #6A679E;
	outline: none;
}

/* ### Add Note Form ### */

.screen-AddNote{
	background: linear-gradient(90deg, #5D54A4, #7C78B8);		
	position: relative;	
	height: 350px;
	width: 460px;	
	box-shadow: 0px 0px 24px #5c569675;
}

.Add-note-form-textarea{
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 30px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
	border: 2px solid #5c569675;
	border-radius: 1em;
	background-color: #e2e2f1;
	resize: none;
}

.Add-note-form-cancel{
	color: #5c5696cb;
	text-decoration: none;


}